<div style="width:1000px;height: 600px">
  <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
  </ngx-charts-line-chart>
</div>
